Flask==3.0.0
Flask-CORS==4.0.0
PyJWT==2.8.0
bcrypt==4.1.2
python-dotenv==1.0.0
mysql-connector-python==8.2.0
gunicorn==21.2.0
python-socketio==5.11.0
flask-socketio==5.3.5
eventlet==0.33.3
dnspython==2.4.2
Pillow==10.1.0
